{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block body %}
	<section class="vh-100" style="background-color: #D3D3D3;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card" style="border-radius: 1rem;">
						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-none d-md-block">
								<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;"/>
							</div>
							<div class="col-md-6 col-lg-7 d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">
									<form method="post">
										<div class="d-flex align-items-center mb-3 pb-1">
											<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
											<span class="h1 fw-bold mb-0" style="color: #FFA07A;">Readble</span>
										</div>
										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}

										{% if app.user %}
											<div class="mb-3">
												You are logged in as
												{{ app.user.userIdentifier }},
												<a href="{{ path('app_logout') }}">Logout</a>
											</div>
										{% endif %}

										<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
										<div class="form-outline mb-4">
											<label class="form-label" for="loginName">Email</label>
											<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email address">
										</div>
										<div class="form-outline mb-4">
											<label class="form-label" for="loginPassword">Password</label>
											<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password">
										</div>
										<input
										type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

										{#
																																																																																																																																																																																																																																																																				ncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																																																																																																																																																																																																																																																																										        See https://symfony.com/doc/current/security/remember_me.html
																																																																																																																																																																																																																																																																																																																																										
																																																																																																																																																																																																																																																																																																																																										        <div class="checkbox mb-3">
																																																																																																																																																																																																																																																																																																																																										            <label>
																																																																																																																																																																																																																																																																																																																																										                <input type="checkbox" name="_remember_me"> Remember me
																																																																																																																																																																																																																																																																																																																																										            </label>
																																																																																																																																																																																																																																																																																																																																										        </div>
																																																																																																																																																																																																																																																																																																																																										    #}

										<div class="pt-1 mb-4">
											<button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
										</div>
										<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account?
											<a href="{{ path('app_register') }}" style="color: #393f81;">Register here</a>
										</p>
									</form>
								{% endblock %}
