{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<body style="background-color: #D3D3D3;">
		<section class=" vh-100">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col col-xl-10">
						<div class="card" style="border-radius: 1rem;">
							<div class="row g-0">
								<div class="col-md-6 col-lg-5 d-none d-md-block">
									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" alt="register form" class="img-fluid" style="border-radius: 1rem 0 0 1rem ; "/>
								</div>
								<div class="col-md-6 col-lg-7 d-flex align-items-center">
									<div class="card-body p-4 p-lg-5 text-black">
										{% if notification %}
											<div class="alert alert-success">
												{{ notification }}
											</div>
										{% endif %}
										{{ form_start(form) }}
										<div class="d-flex align-items-center mb-3 pb-1">
											<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
											<span class="h1 fw-bold mb-0" style="color: #FFA07A;">Info Tech</span>
										</div>
										<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>
										<div class="form-outline mb-4">
											{{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
											{{ form_row(form.nom , {'attr' : {'class' : 'form-control', 'placeholder': 'Enter your name'}}) }}
										</div>
										<div class="form-outline mb-4">
											{{ form_label(form.prenom, 'Prenom', {'label_attr': {'class': 'form-label'}}) }}
											{{ form_row(form.prenom  , {'attr' : {'class' : 'form-control', 'placeholder': 'Enter your family name name'}}) }}
										</div>
										<div class="form-outline mb-4">
											{{ form_label(form.email , 'Email', {'label_attr': {'class': 'form-label'}}) }}
											{{ form_row(form.email , {'attr' : {'class' : 'form-control', 'placeholder': 'Enter your mail'}}) }}
										</div>
										<div class="form-outline mb-4">
											{{ form_label(form.address, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
											{{ form_row(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Enter your address'}}) }}
										</div>
										<div class="form-outline mb-4">
											{{ form_label(form.phone, 'Téléphone', {'label_attr': {'class': 'form-label'}}) }}
											{{ form_row(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Enter your phone number'}}) }}
										</div>
										<div class="form-outline mb-4">
											{{ form_row(form.password) }}
										</div>
										{{ form_end(form) }}
									</div>
									<div class="col"></div>
								</div>
							</div>
						</section>
					</body>

				{% endblock %}
